{% extends 'base.html.twig' %}

{% block menu %}{% endblock %}

{% block title %}Log in!{% endblock %}
{% block bodytag %}<body class="dark:bg-gray-900 sm:dark:bg-gray-600 bg-gray-100">{% endblock %}
{% block body %}
<div class="flex sm:items-center min-h-screen justify-center my-auto w-full h-full ">
    <form class="flex dark:bg-gray-900 bg-white p-5 flex-col sm:rounded-md space-y-11 sm:space-y-4 sm:w-96 w-full sm:min-h-full sm:shadow-lg" method="post">
        {% if error %}
            <div class="alert dark:text-white text-gray-800 alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="dark:text-white mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="dark:text-white text-4xl font-bold ">Sign in to your account</h1>
        <div class="rounded-md shadow-sm -space-y-px">
            <div class="">
                <label class="dark:text-white  text-gray-800 sr-only" for="inputEmail">Email address</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email address" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" required autofocus>
            </div>
            <div>
                <label class="dark:text-white   text-gray-800 sr-only" for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" placeholder="Password" class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" required>
            </div>
        </div>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="hover:bg-indigo-700 bg-indigo-600 text-white p-3 rounded-md" type="submit">
            Sign in
        </button>
    </form>
</div>
{% endblock %}
